.card{
	position: absolute;
	width: 402px;
	height: 469px;
	left: 519.82px;
	top: 150.37px;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}
h1{
	position: absolute;
	width: 165px;
	height: 26.99px;
	left: 645.97px;
	top: 340.37px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	letter-spacing: -0.035em;

	/* Gray 2 */

	color: #4F4F4F;
}